<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
        <servlet-name>Bericht</servlet-name>
        <servlet-class>mvsite.BerichtServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>Bericht</servlet-name>
        <url-pattern>/Bericht</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sport</servlet-name>
        <servlet-class>jspcursus.sport.SportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sport</servlet-name>
        <url-pattern>/sport</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>Kalender</servlet-name>
    	<servlet-class>jspcursus.kalender.servlets.KalenderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Kalender</servlet-name>
    	<url-pattern>/kalender</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>Studenten</servlet-name>
    	<servlet-class>mvsite.student.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Studenten</servlet-name>
    	<url-pattern>/studenten</url-pattern>
    </servlet-mapping>				
	
	<servlet>
    	<servlet-name>Admin</servlet-name>
    	<servlet-class>mvsite.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Admin</servlet-name>
    	<url-pattern>/_admin</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>KalenderTabel</servlet-name>
    	<servlet-class>jspcursus.kalender.servlets.KalenderTabelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>KalenderTabel</servlet-name>
    	<url-pattern>/kalendertabel</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>JSPDeel3Servlet</servlet-name>
    	<servlet-class>jspcursus.Deel3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>JSPDeel3Servlet</servlet-name>
    	<url-pattern>/jsp_deel_3</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>AutoshopServlet</servlet-name>
    	<servlet-class>jspcursus.autoshop.AutoshopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>AutoshopServlet</servlet-name>
    	<url-pattern>/autoshop</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>RekenmachineServlet</servlet-name>
    	<servlet-class>jspcursus.rekenmachine.RekenmachineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>RekenmachineServlet</servlet-name>
    	<url-pattern>/rekenmachine</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>EindSpelServlet</servlet-name>
    	<servlet-class>inleidingJava.EindSpelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>EindSpelServlet</servlet-name>
    	<url-pattern>/eindspel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HtmlFactoryServlet</servlet-name>
        <servlet-class>jspcursus.sport.HtmlFactoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HtmlFactoryServlet</servlet-name>
        <url-pattern>/sporthtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BJToetsServlet</servlet-name>
        <servlet-class>bluej.BJToetsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BJToetsServlet</servlet-name>
        <url-pattern>/bluejtoets</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JqueryServlet</servlet-name>
        <servlet-class>jquery.JQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JqueryServlet</servlet-name>
        <url-pattern>/jquery</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>Welkom.jsp</welcome-file>
	</welcome-file-list>
</web-app>
