
body {
	margin: 0;
	padding: 0;
	font-family: helvetica, verdana, arial, sans-serif;
}
#header {
	background-color: #800000;
	color: #FFF8DC;
	margin: 0;
	padding: 0;
	height: 4em;
	vertical-align: bottom;
}

h1, h2 {
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 2em;
	margin-left: 5em;
}

#main {
	position: relative;
}

#leerdoelen, #studeeraanwijzingen {
	float: right;
	width: 30%;
	clear: right;
	border: 1px solid black;
	padding: 1em;
	margin-left: 3em;
	background-color: #DEB887;
}

#leerdoelen h2, #studeeraanwijzingen h2, #menu h2, h1 {
	text-align: center;
	margin-left: 0;
}

#leerdoelen {
	margin-top: 2em;
}



#artikel {
	clear: right;
}

#content, #menu {
	margin: 0;
}

#menu {
	position: absolute;
	width: 200px;
	top: 0;
	height: 100%;
	left: 0;
	background-color: #BDB76B;
}

#menu a {
	color: #800000;
}

#content {
	margin-left: 200px;
	background-color: #FFF8DC;
	min-height: 750px;
	padding: 2em;
	
	
}

#content p {
	max-width: 1200px;
}

#footer {
	background-color: #556B2F;
	color: #FFF8DC;
	clear: all;
	margin: 0;
	height: 4em;
	padding-top: 0.5em;
}


#footer img {
	float: right;
	margin: 1em;
}


.datum {
	background-color: white;
	padding: 1em;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: small;
}




.loguit {
	text-align: right;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 1em;
	right: 6em;
}

.letop {
	font-weight: bold;
	text-decoration: underline;
}

div#googleevent {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 0.7em;
}

div.bericht {
	padding: 1em;
	background-color: #F5F5F5;
	width: 40%;
	border: 2px solid #427FED;
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.8em;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 2em;
	
}

iframe#frame2048 {
	width: 50%;
	height: 1500px;
	margin-top: 2em;
	margin-left: 1em;
	border: 0;
}



