head{
    height: 200px;
    float: left;
    
}
body{
    width: 60%;
    height: 60%;
    margin: auto;
    
}
table#header{
    background-color: #cccccc;
    font-weight: bold;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    padding: 5px;
    width: 100%;
}
tr#span{
    width: 100%;
}
td#td1{
    width: 250px;
}
#content{
    padding: 10px;
}
#content img{
    max-height: 100px;
    max-width: 200px;
    padding: 8px;
}