<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/Welkom.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>


    <!--Inleiding Java-->
    <servlet>
        <servlet-name>InleidingJava0</servlet-name>
        <jsp-file>/AO/InlJava/H0/H0.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava0</servlet-name>
        <url-pattern>/inleiding-java/h0</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>InleidingJava1</servlet-name>
        <jsp-file>/AO/InlJava/H1/H1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava1</servlet-name>
        <url-pattern>/AO/inleiding-java/h1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava2</servlet-name>
        <jsp-file>/AO/InlJava/H2/H2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava2</servlet-name>
        <url-pattern>/AO/inleiding-java/h2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava3</servlet-name>
        <jsp-file>/AO/InlJava/H3/H3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava3</servlet-name>
        <url-pattern>/AO/inleiding-java/h3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava4</servlet-name>
        <jsp-file>/AO/InlJava/H4/H4.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava4</servlet-name>
        <url-pattern>/AO/inleiding-java/h4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava5</servlet-name>
        <jsp-file>/AO/InlJava/H5/H5.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava5</servlet-name>
        <url-pattern>/AO/inleiding-java/h5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJava6</servlet-name>
        <jsp-file>/AO/InlJava/H6/H6.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava6</servlet-name>
        <url-pattern>/AO/inleiding-java/h6</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava7</servlet-name>
        <jsp-file>/AO/InlJava/H7/H7.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava7</servlet-name>
        <url-pattern>/AO/inleiding-java/h7</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava8</servlet-name>
        <jsp-file>/AO/InlJava/H8/H8.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava8</servlet-name>
        <url-pattern>/AO/inleiding-java/h8</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava9</servlet-name>
        <jsp-file>/AO/InlJava/H9/H9.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava9</servlet-name>
        <url-pattern>/AO/inleiding-java/h9</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava10</servlet-name>
        <jsp-file>/AO/InlJava/H10/H10.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava10</servlet-name>
        <url-pattern>/AO/inleiding-java/h10</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava11</servlet-name>
        <jsp-file>/AO/InlJava/H11/H11.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava11</servlet-name>
        <url-pattern>/AO/inleiding-java/h11</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InleidingJava12</servlet-name>
        <jsp-file>/AO/InlJava/H12/H12.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava12</servlet-name>
        <url-pattern>/AO/inleiding-java/h12</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJava13</servlet-name>
        <jsp-file>/AO/InlJava/H13/H13.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava13</servlet-name>
        <url-pattern>/AO/inleiding-java/h13</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJava14</servlet-name>
        <jsp-file>/AO/InlJava/H14/H14.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJava14</servlet-name>
        <url-pattern>/AO/inleiding-java/h14</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJavaSchaakbord</servlet-name>
        <jsp-file>/AO/InlJava/H11/Schaakbord.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJavaSchaakbord</servlet-name>
        <url-pattern>/AO/inleiding-java/schaakbord</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJavaDeelKaarten</servlet-name>
        <jsp-file>/AO/InlJava/H14/deelKaarten.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJavaDeelKaarten</servlet-name>
        <url-pattern>/AO/inleiding-java/deel-kaarten</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJavaBijlage1</servlet-name>
        <jsp-file>/AO/InlJava/Bijlage1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJavaBijlage1</servlet-name>
        <url-pattern>/AO/inleiding-java/bijlage-1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJavaBijlage2</servlet-name>
        <jsp-file>/AO/InlJava/Bijlage2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJavaBijlage2</servlet-name>
        <url-pattern>/AO/inleiding-java/bijlage-2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InleidingJavaBijlage3</servlet-name>
        <jsp-file>/AO/InlJava/Bijlage3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InleidingJavaBijlage3</servlet-name>
        <url-pattern>/AO/inleiding-java/bijlage-3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EindSpelServlet</servlet-name>
        <servlet-class>inleidingJava.EindSpelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EindSpelServlet</servlet-name>
        <url-pattern>/eindspel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeelKaartenServlet</servlet-name>
        <servlet-class>inleidingJava.DeelKaartenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeelKaartenServlet</servlet-name>
        <url-pattern>/deelKaarten</url-pattern>
    </servlet-mapping>


    <!--Greenfoot-->
    <servlet>
        <servlet-name>Greenfoot</servlet-name>
        <jsp-file>/AO/Greenfoot/greenfoot1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Greenfoot</servlet-name>
        <url-pattern>/AO/greenfoot/greenfoot</url-pattern>
    </servlet-mapping>


    <!--BlueJ-->
    <servlet>
        <servlet-name>BlueJ0</servlet-name>
        <jsp-file>/AO/BlueJ2/BlueJ.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlueJ0</servlet-name>
        <url-pattern>/AO/BlueJ/intro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlueJ1</servlet-name>
        <jsp-file>/AO/BlueJ2/H1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlueJ1</servlet-name>
        <url-pattern>/AO/BlueJ/bluej-1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlueJ2</servlet-name>
        <jsp-file>/AO/BlueJ2/H2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlueJ2</servlet-name>
        <url-pattern>/AO/BlueJ/bluej-2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlueJ3</servlet-name>
        <jsp-file>/AO/BlueJ2/H3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlueJ3</servlet-name>
        <url-pattern>/AO/BlueJ/bluej-3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlueJ4</servlet-name>
        <jsp-file>/AO/BlueJ2/H4.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlueJ4</servlet-name>
        <url-pattern>/AO/BlueJ/bluej-4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlueJ5</servlet-name>
        <jsp-file>/AO/BlueJ2/H5.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlueJ5</servlet-name>
        <url-pattern>/AO/BlueJ/bluej-5</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BJToetsServlet</servlet-name>
        <servlet-class>bluej.BJToetsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BJToetsServlet</servlet-name>
        <url-pattern>/AO/BlueJ/bluejtoets</url-pattern>
    </servlet-mapping>


    <!-- Android -->
    <servlet>
        <servlet-name>Android1</servlet-name>
        <jsp-file>/AO/android/H1/H1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android1</servlet-name>
        <url-pattern>/AO/android/h1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android2</servlet-name>
        <jsp-file>/AO/android/H2/H2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android2</servlet-name>
        <url-pattern>/AO/android/h2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android3</servlet-name>
        <jsp-file>/AO/android/H3/H3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android3</servlet-name>
        <url-pattern>/AO/android/h3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android4</servlet-name>
        <jsp-file>/AO/android/H4/H4.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android4</servlet-name>
        <url-pattern>/AO/android/h4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android5</servlet-name>
        <jsp-file>/AO/android/H5/H5.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android5</servlet-name>
        <url-pattern>/AO/android/h5</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android6</servlet-name>
        <jsp-file>/AO/android/H6/H6.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android6</servlet-name>
        <url-pattern>/AO/android/h6</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android7</servlet-name>
        <jsp-file>/AO/android/H7/H7.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android7</servlet-name>
        <url-pattern>/AO/android/h7</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android8</servlet-name>
        <jsp-file>/AO/android/H8/H8.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android8</servlet-name>
        <url-pattern>/AO/android/h8</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android9</servlet-name>
        <jsp-file>/AO/android/H9/H9.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android9</servlet-name>
        <url-pattern>/AO/android/h9</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Android10</servlet-name>
        <jsp-file>/AO/android/H10/H10.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Android10</servlet-name>
        <url-pattern>/AO/android/h10</url-pattern>
    </servlet-mapping>


    <!--Android 2-->
    <servlet>
        <servlet-name>AndroidAnimaties</servlet-name>
        <jsp-file>/AO/android2/animations/animations.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidAnimaties</servlet-name>
        <url-pattern>/AO/android/animaties</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidEggTimer</servlet-name>
        <jsp-file>/AO/android2/eggtimer/eggtimer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidEggTimer</servlet-name>
        <url-pattern>/AO/android/eggtimer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidTicTacToe</servlet-name>
        <jsp-file>/AO/android2/tictactoe/tictactoe.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidTicTacToe</servlet-name>
        <url-pattern>/AO/android/tictactoe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidBrainTrainer</servlet-name>
        <jsp-file>/AO/android2/braintrainer/braintrainer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBrainTrainer</servlet-name>
        <url-pattern>/AO/android/braintrainer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidCurrencyConverter</servlet-name>
        <jsp-file>/AO/android2/currencyconverter/currencyconverter.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidCurrencyConverter</servlet-name>
        <url-pattern>/AO/android/currencyconverter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidHackerNewsReader</servlet-name>
        <jsp-file>/AO/android2/hackernewsreader/hackernewsreader.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidHackerNewsReader</servlet-name>
        <url-pattern>/AO/android/hackernewsreader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidHackerNewsReaderFirebase</servlet-name>
        <jsp-file>/AO/android2/hnreaderfirebase/hnreaderfirebase.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidHackerNewsReaderFirebase</servlet-name>
        <url-pattern>/AO/android/hackernewsfirebase</url-pattern>
    </servlet-mapping>


    <!--Android for beginners Nanodegree-->
    <servlet>
        <servlet-name>AndroidBasicsIntro</servlet-name>
        <jsp-file>/AO/android_nano_basics/introductie/intro.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBasicsIntro</servlet-name>
        <url-pattern>/AO/android-nano-beginners/intro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AndroidBasicsUserInterface</servlet-name>
        <jsp-file>/AO/android_nano_basics/android_basics_1/user_interface.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBasicsUserInterface</servlet-name>
        <url-pattern>/AO/android-nano-beginners/user-interface</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidBasicsUserInput</servlet-name>
        <jsp-file>/AO/android_nano_basics/android_basics_2/user_input.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBasicsUserInput</servlet-name>
        <url-pattern>/AO/android-nano-beginners/user-input</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidBasicsMultiscreent</servlet-name>
        <jsp-file>/AO/android_nano_basics/android_basics_3/multiscreen_apps.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBasicsMultiscreent</servlet-name>
        <url-pattern>/AO/android-nano-beginners/multiscreen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidBasicsNetworking</servlet-name>
        <jsp-file>/AO/android_nano_basics/android_nano_basics_4/networking.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBasicsNetworking</servlet-name>
        <url-pattern>/AO/android-nano-beginners/networking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AndroidBasicsDataStorage</servlet-name>
        <jsp-file>/AO/android_nano_basics/android_basics_5/data-storage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidBasicsDataStorage</servlet-name>
        <url-pattern>/AO/android-nano-beginners/datastorage</url-pattern>
    </servlet-mapping>


    <!-- JQuery -->
    <servlet>
        <servlet-name>JqueryServlet</servlet-name>
        <servlet-class>jquery.JQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JqueryServlet</servlet-name>
        <url-pattern>/AO/jquery/jquery1</url-pattern>
    </servlet-mapping>


    <!-- JSP -->
    <servlet>
        <servlet-name>JSP1</servlet-name>
        <jsp-file>/AO/JSP_Java_DB/Opdrachten.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSP1</servlet-name>
        <url-pattern>/AO/jsp/deel1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSP2</servlet-name>
        <jsp-file>/AO/JSP_Java_DB/Opdrachten_2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSP2</servlet-name>
        <url-pattern>/AO/jsp/deel2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSPFahrenheit</servlet-name>
        <jsp-file>/AO/JSP_Java_DB/fahrenheit1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSPFahrenheit</servlet-name>
        <url-pattern>/AO/jsp/fahrenheit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSPDeel3Servlet</servlet-name>
        <servlet-class>jspcursus.Deel3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSPDeel3Servlet</servlet-name>
        <url-pattern>/AO/jsp/deel3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutoDemo</servlet-name>
        <jsp-file>/AO/JSP_Java_DB/autoshop-demo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoDemo</servlet-name>
        <url-pattern>/AO/jsp/auto-demo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sport</servlet-name>
        <servlet-class>jspcursus.sport.SportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sport</servlet-name>
        <url-pattern>/AO/jsp/sport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Kalender</servlet-name>
        <servlet-class>jspcursus.kalender.servlets.KalenderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kalender</servlet-name>
        <url-pattern>/AO/jsp/kalender</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KalenderTabel</servlet-name>
        <servlet-class>jspcursus.kalender.servlets.KalenderTabelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KalenderTabel</servlet-name>
        <url-pattern>/kalendertabel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoshopServlet</servlet-name>
        <servlet-class>jspcursus.autoshop.AutoshopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoshopServlet</servlet-name>
        <url-pattern>/autoshop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RekenmachineServlet</servlet-name>
        <servlet-class>jspcursus.rekenmachine.RekenmachineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RekenmachineServlet</servlet-name>
        <url-pattern>/rekenmachine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HtmlFactoryServlet</servlet-name>
        <servlet-class>jspcursus.sport.HtmlFactoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HtmlFactoryServlet</servlet-name>
        <url-pattern>/sporthtml</url-pattern>
    </servlet-mapping>


    <!-- PHP -->
    <servlet>
        <servlet-name>PHP1</servlet-name>
        <jsp-file>/AO/PHP/php01.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PHP1</servlet-name>
        <url-pattern>/AO/php/php1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PHP2</servlet-name>
        <jsp-file>/AO/PHP/php02.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PHP2</servlet-name>
        <url-pattern>/AO/php/php2</url-pattern>
    </servlet-mapping>


    <!-- Examen -->
    <servlet>
        <servlet-name>Examen1</servlet-name>
        <jsp-file>/AO/Examen/Jemeppe.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examen1</servlet-name>
        <url-pattern>/AO/examen/jemeppe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Examen2</servlet-name>
        <jsp-file>/AO/Examen/ontwerpen.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examen2</servlet-name>
        <url-pattern>/AO/examen/kt1-ontwerpen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Examen3</servlet-name>
        <jsp-file>/AO/Examen/realisatie.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examen3</servlet-name>
        <url-pattern>/AO/examen/kt2-realiseren</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Examen4</servlet-name>
        <jsp-file>/AO/Examen/implementatie.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examen4</servlet-name>
        <url-pattern>/AO/examen/kt3-implementeren</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Examen5</servlet-name>
        <jsp-file>/AO/Examen/onderhoud.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examen5</servlet-name>
        <url-pattern>/AO/examen/kt4-onderhoud</url-pattern>
    </servlet-mapping>

    <!-- SQL/Databases -->
    <servlet>
        <servlet-name>SQL1</servlet-name>
        <jsp-file>/AO/SQL/sql_1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SQL1</servlet-name>
        <url-pattern>/AO/sql/sql1</url-pattern>
    </servlet-mapping>

    <!--StudentenServlet-->
    <servlet>
        <servlet-name>Studenten</servlet-name>
        <servlet-class>mvsite.student.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Studenten</servlet-name>
        <url-pattern>/studenten</url-pattern>
    </servlet-mapping>


    <!--Admin-->
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>mvsite.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/_admin</url-pattern>
    </servlet-mapping>


    <!--Gerechten app-->
    <servlet>
        <servlet-name>VoegGerechtenToeServlet</servlet-name>
        <servlet-class>gerechten.VoegGerechtenToeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoegGerechtenToeServlet</servlet-name>
        <url-pattern>/AO/receptenboek/voeg-gerecht-toe</url-pattern>
    </servlet-mapping>


    <!--GCP coupons-->
    <servlet>
        <servlet-name>Coupons</servlet-name>
        <servlet-class>mvsite.gcpcoupons.CouponServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Coupons</servlet-name>
        <url-pattern>/AO/gcpcoupons</url-pattern>
    </servlet-mapping>


    <!--Daily Stand-up servlet-->
    <servlet>
        <servlet-name>WeekPlan</servlet-name>
        <servlet-class>dailystandups.servlet.DailyStandUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeekPlan</servlet-name>
        <url-pattern>/AO/planning</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlanningOverzicht</servlet-name>
        <servlet-class>dailystandups.servlet.OverviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanningOverzicht</servlet-name>
        <url-pattern>/AO/planning/admin/planningoverzicht</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlanningenStudent</servlet-name>
        <servlet-class>dailystandups.servlet.OverviewStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanningenStudent</servlet-name>
        <url-pattern>/AO/planning/studentplanningen</url-pattern>
    </servlet-mapping>


 <!--    wijzig gegevens student-->
    <servlet>
        <servlet-name>DataStudent</servlet-name>
        <servlet-class>dailystandups.servlet.DataStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataStudent</servlet-name>
        <url-pattern>/AO/planning/admin/datastudent</url-pattern>
    </servlet-mapping>

    <!--    hulpvraag servlet-->
    <servlet>
        <servlet-name>Hulpvraag</servlet-name>
        <servlet-class>dailystandups.servlet.HulpvraagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hulpvraag</servlet-name>
        <url-pattern>/AO/planning/hulpvraag</url-pattern>
    </servlet-mapping>


    <!--Daily Mobile Web Specialist Nano-->
    <servlet>
        <servlet-name>MobileWebSpecialist</servlet-name>
        <jsp-file>/AO/mobilewebspecialistnanodegree/01intro/intro.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MobileWebSpecialist</servlet-name>
        <url-pattern>/AO/mobile-web-specialist/intro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponsiveWebDesign</servlet-name>
        <jsp-file>/AO/mobilewebspecialistnanodegree/02respwebdesig/respwebdesign.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponsiveWebDesign</servlet-name>
        <url-pattern>/AO/mobile-web-specialist/responsive-web-design</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponsiveImages</servlet-name>
        <jsp-file>/AO/mobilewebspecialistnanodegree/03respimages/respimages.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponsiveImages</servlet-name>
        <url-pattern>/AO/mobile-web-specialist/responsive-images</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebAccessibility</servlet-name>
        <jsp-file>/AO/mobilewebspecialistnanodegree/04webaccessibility/webaccessibility.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebAccessibility</servlet-name>
        <url-pattern>/AO/mobile-web-specialist/web-accessibility</url-pattern>
    </servlet-mapping>



    <!--admin vakken en tickets toevoegen-->
    <servlet>
        <servlet-name>AdminPlanning</servlet-name>
        <servlet-class>dailystandups.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPlanning</servlet-name>
        <url-pattern>/AO/planning/admin</url-pattern>
    </servlet-mapping>



    <!--Firebase Friendly Chat-->
    <servlet>
        <servlet-name>FriendlyChat</servlet-name>
        <jsp-file>/FireBase/FriendlyChat/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendlyChat</servlet-name>
        <url-pattern>/AO/friendly-chat</url-pattern>
    </servlet-mapping>

    <!--form test-->
    <servlet>
        <servlet-name>FormTest</servlet-name>
        <servlet-class>formtest.FormTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormTest</servlet-name>
        <url-pattern>/formtest</url-pattern>
    </servlet-mapping>


    <!-- inlog-only area -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/AO/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!--suppress WebProperties -->
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>


    <!--enforce https everywhere-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/*/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/*/*/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>


    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ElanceServlet</servlet-name>
        <servlet-class>elance.ElanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ElanceServlet</servlet-name>
        <url-pattern>/elance</url-pattern>
    </servlet-mapping>


<!--    API-->
    <servlet>
        <servlet-name>API</servlet-name>
        <servlet-class>dailystandups.servlet.Api</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>API</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>


<!--    Open dag-->

    <servlet>
        <servlet-name>OpenDag</servlet-name>
        <servlet-class>mvsite.opendag.OpenDagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenDag</servlet-name>
        <url-pattern>/opendag</url-pattern>
    </servlet-mapping>



</web-app>
